$small: 576px;
$medium: 768px;
$large: 1024px;
$extra-large: 1200px;

$white: #ffffff;
$light-blue:#00b5d2;
$blue: #367ab7;
$dark-blue:#1b97c5;
$orange: #e1aa6e;
$nav-link-color: #454546;
$border-btn-color: #ba8e5b;
$gray: #777777;
$blue-btn-border: #008ea5;
$border-color: #cccccc;
$footer-nav-color: #999999;
$black: #000000;
$address-color: #aaaaaa;
$footer-border-color: #eeeeee;
